/* FONT */
body {
	font-family: "Open Sans";
}

.merri {
	font-family: "Merriweather"
}

/* NAVBAR */
.navbar-default {
	background-color: #FFF;
	border-color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #F05F40;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #F05F40;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	background-color: #FFF;
}

/* HEADER */
.header {
	background: #fff url("../img/header.jpg") no-repeat;
	margin-top: 40px;
	height: 1020px;
	width: 100%;
	text-align: center;
}

.header h1 {
	color: #fff;
	text-transform: uppercase;
}

.header p {
	color: whitesmoke;
}
