.titre {
	font-family: "Open Sans";
}

.center {
	text-align: center;
}

.col-md-4 {
	padding: 0;
}

img {
	width: 100%;
}

.row a:hover {
	background-color: rgba(240, 95, 64, 0.4);
}

.free {
	padding-top: 20px;
	background-color: #222;
	color: white;
	height: 205px;
}

.btn {
	border-radius: 2em;
}

footer  {
	height: 440px;
}

em {
	font-style: normal;
	color: #F05F40;
}

hr {
	width: 50px;
	height: 3px;
	background-color: #F05F40;
}
