*{
	font-family: "open sans";/*police pour toute la page*/
}
/*css Navbar*/
.entete{
background-color:white;
border-bottom: 1px solid rgba(74,66,63, 0.2);
}
#navbar a{
	color: #f05f40;
	font-weight: bold;
	text-transform: uppercase;

}

#navbar ul li a{
	font-weight: bold;
	color: black;
	text-transform: uppercase;

}
/*css section Your Favorite Source of Free Bootstrap Themes*/
.photo{
	margin-top: 50px;
	height: 850px;
	background-image: url(header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
h1{
text-align:center;
margin-top:200px; 
color: white;
font-size: 60px;
font-weight: bold;
text-transform: uppercase;

}
.trait{
	width: 40px;
	background-color:#f05f40; 
	height:2px;
	border: none;
	margin:0 auto;

  }
.Paragraphe1{
	margin-top: 30px;
	text-align:center;
	color:rgb(193,191,189);
	font-size: 20px; 
	
}
  .orange{
	margin-top: 30px;
	padding-top: 13px;
	background-color: #f05f40;
	border: none;
	width: 150px;
	height: 50px; 
	border-radius: 25px;
	font-weight: bold;

}
/*css section We've got what you need!*/
.bloc2{
	padding-top: 50px;
	background-color:#f05f40;
	height: 500px; 
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	
}
h2{
font-size: 30px; 	

}

.paragraphe2{
	margin-top: 30px;
	font-size: 18px;
	color: rgb(249,198,194);
}

.trait2{
	width: 40px;
	background-color:rgb(255,255,255); 
 	height:2px;
	border: none;
  }
.bouton{
	margin-top: 30px;
	padding-top: 13px;
	width: 150px;
	height: 50px; 
	border-radius: 25px;
	font-weight: bold;
}

/*css section icones*/
section{
	height: 500px;
	padding-top: 100px;
}
  i{
  	color:#f05f40;
  	padding-top: 58px;
  }
/*animation icones*/
.col-lg-3 i {
color:#f05f40

;
-webkit-animation-name: bounceIn;
 animation-name: bounceIn;
 -webkit-animation-duration:10s;
 animation-duration: 10s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
}
@keyframes bounceIn{
0% {
    opacity: 0;
    -webkit-transform: scale(.3);
}
50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
}
70%{
  -webkit-transform: scale(.9);
}
100% {
  -webkit-transform: scale(1);
}
}
@keyframes bounceIn{
0% {
    opacity: 0;
   transform: scale(.3);
}
50% {
    opacity: 1;
    transform: scale(1.05);
}
70%{
 transform: scale(.9);
}
100% {
 transform: scale(1);
}
}
/* */
@media screen and (min-width: 200px) and (max-width: 640px) {
  h1 {
    font-size: 25px; 
  }

  h2 {
    font-size: 22px; 
  }

  h3 {
    font-size: 20px; 
  }

  .Paragraphe1 {
    font-size: 17px; 
  }
.Paragraphe2 {
	font-size:15px;
}
}

