*{
	font-family: 'Open Sans';
}
.entete{
	background-color:transparent;
	border: transparent;
	color:black;
}
.photo{
	width: 100%;
	height: 800px;
	background-image: url(img/header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}
.trait{
	width: 40px;
	background-color:#f05f40; 
	height:2px;
	border: none;
	margin:0 auto;

  }
.bouton{
	margin:0 auto;
	margin-top: 25px;
}
.orange{
	background-color: #f05f40;
	border: none; 
	margin-top: 25px;
}
h1{
margin-top:200px; 
color: white;
}
.Paragraphe1{
	text-align:center;
	color:white;
	margin-top: 25px; 
}
.bloc2{
	padding-top: 100px;
	background-color:#f05f40;
	height: 600px; 
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	color: white;
}
.paragraphe2{
	margin-top:25px;
	
}
.trait2{
	width: 40px;
	background-color:rgb(255,255,255); 
 	height:2px;
	border: none;
  }
  i{
  	color:#f05f40;
  	padding-top: 30px;
  }
section{
	height: 600px;
	padding-top: 100px;
}
h4{
	padding-top: 30px;
	padding-bottom: 20px
}
p{
	font-size: 17px;
}




.titre_font {
	font-family: "Open Sans";
}

.center {
	text-align: center;
}

.col-xs-12, .col-sm-6, .col-md-4 {
	padding: 0;
}

img {
	width: 100%;
}

.row a:hover {
	background-color: rgba(240, 95, 64, 0.4);
}

.free {
	padding-top: 20px;
	background-color: #222;
	color: white;
	height: 205px;
}

.btn {
	border-radius: 2em;
}

footer  {
	height: 440px;
}

em {
	font-style: normal;
	color: #F05F40;
}

hr {
	width: 50px;
	height: 3px;
	background-color: #F05F40;
}
